<section class="section-form">
  <div>
    <h1>Bem Vindo!</h1>
  </div>
  <h2>Faça login com sua conta</h2>
  <form class="form">
    <div class="fields-form">
      <label for="name">
        Nome:
        <input type="text" name="name" />
      </label>
      <label for="password">
        Senha:
        <input type="password" name="password" />
      </label>
    </div>
    <button
      class="button-enter"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Entrar
    </button>
  </form>
</section>
